@{
    Layout = null;
}

@{
    string userRole = "Customer"; // Default role is "Customer"

    if (Session["LoggedIn"] == null)
    {
        // The user is not logged in, redirect to the login page
        Response.Redirect("~/AdminUser/adminLogin");
    }
    else
    {
        string username = Session["LoggedIn"].ToString();

        if (username == "gaber")
        {
            userRole = "Manager";




            <!DOCTYPE html>
            <html lang="en">

            <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="description" content="">
                <meta name="author" content="">
                <title>Admin</title>
                <!-- Custom fonts for this template-->
                <link href="~/controlpanel/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
                <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
                <!-- Custom styles for this template-->
                <link href="~/controlpanel/css/sb-admin-2.min.css" rel="stylesheet">
            </head>

            <body id="page-top">
                <div id="wrapper">
                    <!-- Sidebar -->
                    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                        <!-- Sidebar - Brand -->
                        <!-- Divider -->
                        <hr class="sidebar-divider my-0">
                        <!-- Nav Item - Dashboard -->
                        <li class="nav-item active">
                            <a class="nav-link" href="index">
                                <i class="fas fa-fw fa-tachometer-alt"></i>
                                <span>
                                    Welcome, @(Session["LoggedIn"]?.ToString() ?? "Guest") (@userRole)

                                </span>

                            </a>
                            <button type="button" onclick="location.href='@Url.Action("Logout", "AdminUser")'" class="btn btn-primary">Sign Out</button>
                        </li>

                        <!-- Nav Item - Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                                <i class="fas fa-fw fa-folder"></i>
                                <span>Pages</span>
                            </a>

                            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">

                                    <a class="collapse-item" href="~/kategori/kategorilist"><strong>Kategori</strong></a>
                                    <a class="collapse-item" href="~/Marka/markalist"><strong>Marka</strong></a>
                                    <a class="collapse-item" href="~/Birim/Birimlist"><strong>Birim</strong></a>
                                    <a class="collapse-item" href="~/musteri/musterilist"><strong>Müşteri</strong></a>
                                    <a class="collapse-item" href="~/urunlar/urunList"><strong>Ürünler</strong></a>
                                    <a class="collapse-item" href="~/AdminUser/AuserList"><strong>Admin User</strong></a>
                                    <a class="collapse-item" href="~/Login/luserList"><strong>Müşteri Login</strong></a>

                                    <a class="collapse-item" href="~/Satislar/SatisList"><strong>Satışlar</strong></a>

                                    
                                </div>
                            </div>
                        </li>
                        <hr class="sidebar-divider d-none d-md-block">
                        <div class="text-center d-none d-md-inline">
                            <button class="rounded-circle border-0" id="sidebarToggle"></button>
                        </div>
                    </ul>
                    <!-- End of Sidebar -->
                    <!-- Content Wrapper -->
                    <div id="content-wrapper" class="d-flex flex-column">
                        @RenderBody()
                        <!-- Main Content -->
                        <!-- End of Main Content -->
                        <!-- Footer -->
                        <footer class="sticky-footer bg-white">
                            <div class="container my-auto">
                                <div class="copyright text-center my-auto">
                                    <span>&copy; Cabir başkan</span>
                                </div>
                            </div>
                        </footer>
                        <!-- End of Footer -->
                    </div>
                    <!-- End of Content Wrapper -->
                </div>
                <!-- End of Page Wrapper -->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="AdminUser/Logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="~/controlpanel/vendor/jquery/jquery.min.js"></script>
                <script src="~/controlpanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="~/controlpanel/vendor/jquery-easing/jquery.easing.min.js"></script>
                <script src="~/controlpanel/js/sb-admin-2.min.js"></script>
                <script src="~/controlpanel/vendor/chart.js/Chart.min.js"></script>
                <script src="~/controlpanel/js/demo/chart-area-demo.js"></script>
                <script src="~/controlpanel/js/demo/chart-pie-demo.js"></script>
            </body>

        </html>
    }

    else if (username == "nurettin" || username == "mahmut" || username == "fawaz")
    {
        userRole = "Personnel";
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>Admin</title>
            <!-- Custom fonts for this template-->
            <link href="~/controlpanel/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <!-- Custom styles for this template-->
            <link href="~/controlpanel/css/sb-admin-2.min.css" rel="stylesheet">
        </head>

        <body id="page-top">
            <div id="wrapper">
                <!-- Sidebar -->
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                    <!-- Sidebar - Brand -->
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">
                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a class="nav-link" href="index">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>
                                Welcome, @(Session["LoggedIn"]?.ToString() ?? "Guest") (@userRole)
                            </span>
                        </a>
                        <button type="button" onclick="location.href='@Url.Action("Logout", "AdminUser")'" class="btn btn-primary">Sign Out</button>
                    </li>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Pages</span>
                        </a>

                        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">

                             

                                <a class="collapse-item" href="~/Satislar/SatisList"><strong>Satışlar</strong></a>

                              
                            </div>
                        </div>
                    </li>
                    <hr class="sidebar-divider d-none d-md-block">
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>
                </ul>
                <!-- End of Sidebar -->
                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">
                    @RenderBody()
                    <!-- Main Content -->
                    <!-- End of Main Content -->
                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>&copy; Cabir başkan</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->
                </div>
                <!-- End of Content Wrapper -->
            </div>
            <!-- End of Page Wrapper -->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="login.html">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <script src="~/controlpanel/vendor/jquery/jquery.min.js"></script>
            <script src="~/controlpanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/controlpanel/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="~/controlpanel/js/sb-admin-2.min.js"></script>
            <script src="~/controlpanel/vendor/chart.js/Chart.min.js"></script>
            <script src="~/controlpanel/js/demo/chart-area-demo.js"></script>
            <script src="~/controlpanel/js/demo/chart-pie-demo.js"></script>
        </body>

    </html>
}
}
}